.toast-item-image-notice { background:url(./images/notice.png); }
.toast-item-image-success { background:url(./images/success.png); }
.toast-item-image-warning { background:url(./images/warning.png); }
.toast-item-image-error { background:url(./images/error.png); }
.toast-item-close { background: url(./images/close.gif); }