#divEditor_ClienteDelivery .editor-linha
{
    clear: none;
}

#divEditor_ClienteDelivery .positive
{
    height:25px !important;
    border-radius: 7px;
    border: 1px solid silver !important;
    float:left;
    padding-left:5px;
}
#divEditor_ClienteDelivery { width:auto; }

.contornoDlg-divEditor_ClienteDelivery
{
    background-color: #f7f7f7;
    border: 1px solid silver;
    border-radius: 3px;
}

#divEditor_ClienteDelivery .generico.toolbar
{
    margin: 0px;    
}

#divEditor_ClienteDelivery .generico.toolbar .titleToolbar
{
    margin: auto;
    float: none;
}

#divEditor_ClienteDelivery .botaoFecharToolbar{
    position: absolute;
    right: 0px;
    top: 0px;
}

#divEditor_ClienteDelivery .contFormV
{
    height: auto !important;
    margin-left: 13px;
}

#divEditor_ClienteDelivery .editor-combo, #divEditor_ClienteDelivery .single-line, #divEditor_ClienteDelivery .positive
{
    height: 28px;
    border-radius: 3px;
}

#divEditor_ClienteDelivery .editor-combo
{
    font-size:15px!important;
    color:#6E7173;
    border: 1px solid silver;
    border-radius: 7px;
    height:25px;
    float:left;
    padding-left:2px !important;
}

#divEditor_ClienteDelivery .btConfirmar{
    width: 250px;
    height: 35px;
    line-height: 36px;
    font-size: 17px;
    text-align: center;
    float: left;
    margin-bottom: 10px;
    margin-left: 79px;
    border-radius: 5px;
}

#divEditor_ClienteDelivery .iconePesquisa {
    height: 27px;
    width: 26px;
    position: absolute;
    margin-left: 12px;
}

#divEditor_ClienteDelivery .iconePesquisa:hover 
{
   cursor: pointer;
}

#divEditor_ClienteDelivery input,
#divEditor_ClienteDelivery textarea,
#divEditor_ClienteDelivery label,
#divEditor_ClienteDelivery select
{
    margin-left:10px;
}

#divEditor_ClienteDelivery input[tipoeditor="search"]{
    padding-left: 25px;
}

#divEditor_ClienteDelivery .editor-label
{
    width: auto;
}

#divEditor_ClienteDelivery .conteudo {
    border: 1px solid silver;
    position: absolute;
    /*width: 394px;*/
    width:384px;
    min-height: 30px;
    max-height: 500px;
    background-color: #fff;
    z-index: 500;
    box-shadow: 0px 3px 12px gray;
    overflow-y: scroll;
    display: none;
    margin-top: 30px;
    /*margin-left: -20px;*/
    left:7px;
}

#divEditor_ClienteDelivery .conteudo ul
{
    border: 1px solid silver;
    float: left;
    /*width: 372px;*/
    width:363px;
    margin-left: 2px;
    margin-top: 2px;
    height: 25px;
}

#divEditor_ClienteDelivery .conteudo ul:hover
{   
    border: 1px solid orange;
    background-color: rgba(255, 153, 0, 0.03);
    cursor: pointer;
}

#divEditor_ClienteDelivery .conteudo ul.selecionado
{
    border: 1px solid rgb(32, 164, 252);
background-color: rgba(0, 153, 255, 0.03);
    
    /*
     border: 1px solid rgb(0, 153, 255);

    background-color: rgba(0, 184, 255, 0.07);
*/
}

#divEditor_ClienteDelivery .conteudo ul li {
    font-size: 13px;
    line-height: 25px;
}

#divEditor_ClienteDelivery .conteudo ul li.nome {
    float: left;
}

#divEditor_ClienteDelivery .conteudo ul li.telefone {
    float: right;
    margin-right: 5px;

}

#divEditor_ClienteDelivery .conteudo .informacao{
    font-size: 12px;
    color: gray;
    text-shadow: 0px 1px 1px silver;
    text-align: center;
    line-height: 100px;
}

#divEditor_ClienteDelivery .field-validation-error
{
    position: absolute;
    right: 23px;
}

#divEditor_ClienteDelivery .iconeX
{
    position: absolute;
    right: 28px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 2px;
    color: gray;
}

#divEditor_ClienteDelivery .iconeX:hover 
{
    cursor: pointer;    
}

#divEditor_ClienteDelivery #divAgrupaCamposEntrega
{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    clear: both;
    display: table;
    margin: -5px 0 8px 10px;
    padding: 10px 0 0px;
    position: relative;
    width: 355px;
}
#divEditor_ClienteDelivery #divAgrupaCamposEntrega input,
#divEditor_ClienteDelivery #divAgrupaCamposEntrega select,
#divEditor_ClienteDelivery #divAgrupaCamposEntrega label
{
    margin:0;
}

#divEditor_ClienteDelivery #Troco,
#divEditor_ClienteDelivery #TaxaEntrega,
#divEditor_ClienteDelivery .timepicker,
#divEditor_ClienteDelivery .editor-combo
{
    border: 1px solid silver;
    border-radius: 3px;
    color: #6E7173;
    font-size: 15px !important;
    height: 28px !important;
}

#divEditor_ClienteDelivery #FormaPagto
{
    width:172px;
}
#divEditor_ClienteDelivery #HoraEntrega { text-align:center; }


#divEditor_ClienteDelivery #TaxaEntrega { width:80px !important; }
#divEditor_ClienteDelivery #divLimparClienteDelivery
{
    background:Url("/Content/img/Layout/Limpar.png") 3px no-repeat;
    border:1px solid rgba(242, 242, 242, 0);
    height:26px;
    padding:3px;
    position: absolute;
    top: 3px;
    width:26px;
}
#divEditor_ClienteDelivery #divLimparClienteDelivery:hover
{
    border:1px solid #ccc;
    cursor:pointer;
}

/*
#dlgCadRapidoRegiao #divCadRapidoRegiao
{
    background-color:#f7f7f7;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgb(104, 104, 104);
    height:520px !important;
    width:353px !important;
}
*/
#dlgCadRapidoRegiao #divCadRapidoRegiao
{
    background-color:#fff;
    border:1px solid #1A86C4;
    border-radius:5px;
    box-shadow:0 2px 6px rgb(89, 156, 230);
    color:#999;
    height:520px !important;
    padding:10px;
    width: 353px !important;
}

#dlgCadRapidoRegiao.ui-draggable { border:none; background:none !important; }

/*
#dlgCadRapidoRegiao #divRegiaoTitulo
{
    height: 38px;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    border: 1px solid #dcdcdc;
    text-shadow: 1px 1px 0px #ffffff;
}
*/
#dlgCadRapidoRegiao #divRegiaoTitulo
{
    background:#d9edf7;
    border:1px solid #CBE4F0;
    height:38px;
}

#dlgCadRapidoRegiao #divRegiaoTitulo .titleToolbar
{
    margin: auto;
    font-size: 15px;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    color: #4E99BE;
    float: left;
    width: 265px;
    line-height: 38px;
    margin-left: 32px;
}
#dlgCadRapidoRegiao #divRegiaoTitulo .botaoFecharToolbar
{
    color: #98c0d4;
    position: absolute;
    right:5px;
    font-size: 14px;
    font-weight: bold;
    padding-right: 40px;
    padding-top: 10px;
}
#dlgCadRapidoRegiao #divRegiaoTitulo .botaoFecharToolbar:hover { cursor:pointer; }

#dlgCadRapidoRegiao #divRegiaoInfoIcon
{
    width:57px;
    height:57px;
    float:left;
}

#dlgCadRapidoRegiao #divRegiaoInfo
{
    border-bottom:1px dotted #222;
    clear:both;
    color:#ff7b2c;
    font-size:12px;
    padding:10px 0;
    width:350px;
}

#dlgCadRapidoRegiao #txtBuscaRegiao
{
    background:#fff Url("/Content/img/Layout/lupa12.png") 3px no-repeat;
    border: 1px solid #ddd;
    border-bottom:1px solid #aaa;
    height: 38px;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left:29px;
    width: 100%;
}

#dlgCadRapidoRegiao #divRegiaoLista { margin:10px 0 20px; }

#dlgCadRapidoRegiao #divScroll
{
    background-color:#fff;
    border:1px solid #ddd;
    border-top:0;
    font-size:14px;
    height:180px;
    margin:0 0 10px 0;
    padding-bottom:10px;
    overflow-y:auto;
}

#dlgCadRapidoRegiao #ulCadRegiao 
{
}
#dlgCadRapidoRegiao #ulCadRegiao li
{
    border-bottom:1px dotted #ccc;
    padding:7px;
}
#dlgCadRapidoRegiao #ulCadRegiao li a
{
    color:#0D2953;
    text-decoration:none;
}
#dlgCadRapidoRegiao #ulCadRegiao li:hover a span { color:#fff !important; }
#dlgCadRapidoRegiao #ulCadRegiao li[foco=true]
{
    background-color:#eeaf41;
    cursor:pointer;
}
#dlgCadRapidoRegiao #ulCadRegiao li[foco=true] a span { color:#fff; }

#dlgCadRapidoRegiao #ulCadRegiao:last-child { border-bottom:0; }

#dlgCadRapidoRegiao #ulCadRegiao li:hover
{
    background-color:#eeaf41;
    cursor:pointer;
}

#dlgCadRapidoRegiao #ulCadRegiao .spnRegiaoTaxa { color:green; float:right; }

#dlgCadRapidoRegiao #divRegiaoNova
{
    border-top: 1px dotted #222;
    font-size:13px;
    padding: 20px 0;
}
#dlgCadRapidoRegiao #divRegiaoNova div
{
    float:left;
}
#dlgCadRapidoRegiao #divRegiaoNova div label { color:#1A86C4; display:block; }
#dlgCadRapidoRegiao #divRegiaoNova div input  
{
    border:1px solid silver;
    border-radius:3px;
    box-sizing:border-box;
    clear:both;
    height:28px;
    margin-top:5px;
}
#dlgCadRapidoRegiao #divRegiaoNova #divRegiaoNovaTaxa { float:right; }
#dlgCadRapidoRegiao #divRegiaoNova #txtRegiaoNome { width:195px; }
#dlgCadRapidoRegiao #divRegiaoNova #txtRegiaoTaxa { width:127px; }
#dlgCadRapidoRegiao #divRegiaoConfirmar  
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6CC0E9), color-stop(1, #4E99BE) );
    border: 1px solid #4E99BE;
    -webkit-box-shadow: inset 0px 1px 0px 0px #4E99BE;
    box-shadow: inset 0px 1px 0px 0px #7CCAF0;
    color: #fff;
    width: 250px;
    height: 35px;
    line-height: 36px;
    font-size: 17px;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-left: 47px;
    border-radius: 5px;
}
#dlgCadRapidoRegiao #divRegiaoConfirmar:hover { border:2px solid #4E99BE; cursor:pointer; }

#divConteudoBuscaCliente
{
    background-color:#fff;
    border:1px solid silver;
    box-shadow:0px 3px 12px gray;
    display:block;
    overflow-y:scroll;
    position:absolute;
    /*width:400px;*/
    z-index:20000;
    border-radius: 5px;
    box-shadow: 2px 2px 17px rgb(19, 17, 4);
    border: 4px solid rgba(238, 238, 221, 1);
    max-height: 508px;
}
#divConteudoBuscaCliente ul
{
    border: 1px solid silver;
    /*color: rgb(228, 84, 4);*/
    float: left;
    width: 370px;
    margin-left: 2px;
    margin-top: 2px;
    padding:0 4px;
}
#divConteudoBuscaCliente ul:hover
{   
    border: 1px solid orange;
    /*background-color: rgba(255, 153, 0, 0.03);*/
    background-color: rgba(236, 189, 145, 0.32);
    cursor: pointer;
    font-weight:bold;
}
#divConteudoBuscaCliente ul.selecionado
{
    /*
    background-color: rgba(0, 153, 255, 0.03);
    border: 1px solid rgb(32, 164, 252);
    */
    border: 1px solid orange;
    /*background-color: rgba(255, 153, 0, 0.03);*/
    background-color: rgba(236, 189, 145, 0.32);
}
#divConteudoBuscaCliente ul.selecionado li { color:#965107; font-weight:bold; }

#divConteudoBuscaCliente ul li
{
    font-size: 13px;
    line-height: 25px;
}
#divConteudoBuscaCliente ul li.nome
{
    color: #333;
    float: left;
}
#divConteudoBuscaCliente .ulPesqDelivery li.nome { width:inherit; }
#divConteudoBuscaCliente ul  li.nome:hover { color:#965107; }
#divConteudoBuscaCliente ul  li .spnTaxaEntregaBusca { color:rgb(231, 151, 4); }
#divConteudoBuscaCliente ul li.telefone {
    float: right;
    margin-right: 5px;
}
#divConteudoBuscaCliente ul li.endereco 
{
    clear: both;
    color: #86290b;
    float: left;
    font-size: 10px;
    margin: -8px 0 0;
}
#divConteudoBuscaCliente .informacao{
    font-size: 12px;
    color: gray;
    line-height: 20px;
    text-shadow: 0px 1px 1px silver;
    text-align: center;
}


#divConteudoBuscaCliente #divTotalBuscaDeliv, #divConteudoBuscaCliente #divNaoEncontradoBuscaDeliv
{
    color:green;
    float:left;
    font-size:11px;
    margin:5px 0;
}
#divConteudoBuscaCliente #divNaoEncontradoBuscaDeliv
{
    color:rgb(184, 14, 34);
    padding:10px;
}

#divConteudoBuscaCliente .divExibeMaisDeliv
{
    color:blue;
    float:left;
    font-size:11px;
    margin:5px 0;
}
#divConteudoBuscaCliente #divMaisDelivProx { float:right; }
#divConteudoBuscaCliente a:hover { color:rgb(10, 10, 134); cursor:pointer; }

#divEditor_ClienteDelivery .divContCheck
{
    height: 30px;
    float: left;
    width: 100%;
}

#divEditor_ClienteDelivery .divContCheck .desc
{
    color: gray;
    font-size: 14px;
    float: left;
    line-height: 15px;
    position: absolute;
    left: 35px;
}

#divEditor_ClienteDelivery .inpCheck
{
    float:left;
    margin-left:23px;
}

#divEditor_ClienteDelivery p
{
    font-size: 14px;
    color: #848484;
    padding-left: 5px;
}

#divEditor_ClienteDelivery .total
{
    font-size: 13px;
    float: right;
    font-weight: bold;
    margin-right: 20px;
}

#divEditor_ClienteDelivery #divSalvaClienteDelivery .btCliDev
{
    border-radius: 5px;
    font-size: 17px;
    height: 35px;
    line-height: 36px;
    margin-bottom: 10px;
    position: relative !important;
    text-align: center;
    width: 175px !important;
}

#divEditor_ClienteDelivery #divSalvaClienteDelivery .btSalvar
{
    float: left;
    left:20px;
}

#divEditor_ClienteDelivery #divSalvaClienteDelivery .btPedirMais
{
    float: right;
    right: 20px;
}


#divOpcoesBuscaLogradouro
{
    margin:10px 0;
}

/*
divOpcoesBuscaLogradouro #tmpOpcoesBuscaRadios
{
    font-size:14px;
    margin:20px 0;
}
*/

#divOpcoesBuscaLogradouro #divOpcoes
{
    font-size:17px;
    margin:20px 10px;
}

#divOpcoesBuscaLogradouro #divOpcoes .divOpcoesBuscaItem
{
    background-color:#f8f8f8;
    border:1px solid #fff;
    margin:10px 0;
    padding:10px 0 10px 25px;
    width: 320px;
}

#divOpcoesBuscaLogradouro #divOpcoes input:focus {
    background-color:rgb(215, 236, 215) !important;
    border:1px solid #1BA831 !important;
    color:Green !important;
}

#divOpcoesBuscaLogradouro #divOpcoes .divOpcoesBuscaItem:hover
{
    border:1px solid #0a662b;
    cursor:pointer;
}

#divOpcoesBuscaLogradouro #divOpcoes .divOpcoesBuscaItemSel
{

}

#divOpcoesBuscaLogradouro #btOpcoesBuscaLogradouro
{
    border-radius:5px;
    margin-left:119px;
    margin-top:10px;
    padding:5px;
}

#divOpcoesBuscaLogradouro .generico.toolbar
{
    margin-left: 0;
    margin-right: 0;    
}

#divOpcoesBuscaLogradouro .generico.toolbar .titleToolbar 
{
    width: 100%;    
}

#divOpcoesBuscaLogradouro .botaoFecharToolbar{
    position: absolute;
    right: 0px;
    border: 0px;
    background-color: initial;
}